<h1>Display Team Here</h1>
<div class = "team">
  <h3>Team Name: <%= @team.name %></h3>
  <h3>Team Motto: <%= @team.motto %></h3>
</div>

<h2>Hero 1</h2>
<div class = "hero1">
  <h3>Hero Name: <%= @hero.name[0] %></h3>
  <h3>Hero Power: <%= @hero.motto[0] %></h3>
  <h3>Hero Biography:  <%= @hero.biography[0] %></h3>
</div>

<h2>Hero 2</h2>
<div class = "hero2">
  <h3>Hero Name: <%= @hero.name[1] %></h3>
  <h3>Hero Power: <%= @hero.motto[1] %></h3>
  <h3>Hero Biography:  <%= @hero.biography[1] %></h3>
</div>

<h2>Hero 3</h2>
<div class = "hero3">
  <h3>Hero Name: <%= @hero.name[2] %></h3>
  <h3>Hero Power: <%= @hero.motto[2] %></h3>
  <h3>Hero Biography:  <%= @hero.biography[2] %></h3>
</div>