<h1>Display Team Here</h1>
<div class = "team">
  <h3>Team Name: <%= @team.name %></h3>
  <h3>Team Motto: <%= @team.motto %></h3>
</div>

<h2>Hero 1</h2>
<div class = "hero1">
  <h3>Hero Name: <%= @hero[0].name %></h3>
  <h3>Hero Power: <%= @hero[0].power %></h3>
  <h3>Hero Biography:  <%= @hero[0].biography %></h3>
</div>

<h2>Hero 2</h2>
<div class = "hero2">
  <h3>Hero Name: <%= @hero[1].name %></h3>
  <h3>Hero Power: <%= @hero[1].power %></h3>
  <h3>Hero Biography:  <%= @hero[1].biography %></h3>
</div>

<h2>Hero 3</h2>
<div class = "hero3">
  <h3>Hero Name: <%= @hero[2].name %></h3>
  <h3>Hero Power: <%= @hero[2].power %></h3>
  <h3>Hero Biography:  <%= @hero[2].biography %></h3>
</div>
